body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  width: 200px;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
  text-align: center;
}

.home {
  margin-bottom: auto;
  margin-top: auto;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}

.content {
  width: 100%;
  padding: 70px 50px 10px 10px;
}

.clearfix {
  clear: both;
}

i.fa {
  font-size: 15px;
  margin: 5px;
}
